<SOAP-ENV:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:clr="http://schemas.microsoft.com/clr/" SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/">
  <SOAP-ENV:Body>
    <a1:_x0030__x002C__x0020_Culture_x003D_neutral_x002C__x0020_PublicKeyToken_x003D_b77a5c561934e089_x005D__x005D_ id="ref-1" xmlns:a1="http://schemas.microsoft.com/clr/ns/System.Collections.Generic.Dictionary`2[[System.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089],[System.Collections.Generic.Dictionary`2[[System.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089],[System.Object, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]], mscorlib, Version=4.0.0">
      <Version>2</Version>
      <Comparer href="#ref-2" />
      <HashSize>3</HashSize>
      <KeyValuePairs href="#ref-3" />
    </a1:_x0030__x002C__x0020_Culture_x003D_neutral_x002C__x0020_PublicKeyToken_x003D_b77a5c561934e089_x005D__x005D_>
    <a2:InternalStringComparer id="ref-2" xmlns:a2="http://schemas.microsoft.com/clr/ns/System.Collections.Generic">
    </a2:InternalStringComparer>
    <SOAP-ENC:Array id="ref-3" xmlns:a3="http://schemas.microsoft.com/clr/ns/System.Collections.Generic.KeyValuePair`2[[System.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089],[System.Collections.Generic.Dictionary`2[[System.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089],[System.Object, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]], mscorlib, Version=4.0.0" SOAP-ENC:arrayType="a3:_x0030__x002C__x0020_Culture_x003D_neutral_x002C__x0020_PublicKeyToken_x003D_b77a5c561934e089_x005D__x005D_[2]">
      <item>
        <key id="ref-4">default</key>
        <value href="#ref-5" />
      </item>
      <item>
        <key id="ref-6">main</key>
        <value href="#ref-7" />
      </item>
    </SOAP-ENC:Array>
    <a4:_x0030__x002C__x0020_Culture_x003D_neutral_x002C__x0020_PublicKeyToken_x003D_b77a5c561934e089_x005D__x005D_ id="ref-5" xmlns:a4="http://schemas.microsoft.com/clr/ns/System.Collections.Generic.Dictionary`2[[System.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089],[System.Object, mscorlib, Version=4.0.0">
      <Version>0</Version>
      <Comparer href="#ref-2" />
      <HashSize>0</HashSize>
    </a4:_x0030__x002C__x0020_Culture_x003D_neutral_x002C__x0020_PublicKeyToken_x003D_b77a5c561934e089_x005D__x005D_>
    <a4:_x0030__x002C__x0020_Culture_x003D_neutral_x002C__x0020_PublicKeyToken_x003D_b77a5c561934e089_x005D__x005D_ id="ref-7" xmlns:a4="http://schemas.microsoft.com/clr/ns/System.Collections.Generic.Dictionary`2[[System.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089],[System.Object, mscorlib, Version=4.0.0">
      <Version>28</Version>
      <Comparer href="#ref-2" />
      <HashSize>17</HashSize>
      <KeyValuePairs href="#ref-8" />
    </a4:_x0030__x002C__x0020_Culture_x003D_neutral_x002C__x0020_PublicKeyToken_x003D_b77a5c561934e089_x005D__x005D_>
    <SOAP-ENC:Array id="ref-8" xmlns:a5="http://schemas.microsoft.com/clr/ns/System.Collections.Generic.KeyValuePair`2[[System.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089],[System.Object, mscorlib, Version=4.0.0" SOAP-ENC:arrayType="a5:_x0030__x002C__x0020_Culture_x003D_neutral_x002C__x0020_PublicKeyToken_x003D_b77a5c561934e089_x005D__x005D_[14]">
      <item>
        <key id="ref-9">loggerBacklog</key>
        <value xsi:type="xsd:int">100</value>
      </item>
      <item>
        <key id="ref-10">loggerFileDumpInterval</key>
        <value xsi:type="xsd:int">10</value>
      </item>
      <item>
        <key id="ref-11">loggerFile</key>
        <value id="ref-12" xsi:type="SOAP-ENC:string">log.txt</value>
      </item>
      <item>
        <key id="ref-13">authServerPort</key>
        <value xsi:type="xsd:int">45696</value>
      </item>
      <item>
        <key id="ref-14">chatServerPort</key>
        <value xsi:type="xsd:int">45695</value>
      </item>
      <item>
        <key id="ref-15">chatTimeout</key>
        <value xsi:type="xsd:int">6</value>
      </item>
      <item>
        <key id="ref-16">messageBacklog</key>
        <value xsi:type="xsd:int">1000</value>
      </item>
      <item>
        <key id="ref-17">messageSend</key>
        <value xsi:type="xsd:int">10</value>
      </item>
      <item>
        <key id="ref-18">acceptedTags</key>
        <value id="ref-19" xsi:type="SOAP-ENC:string">general, admin, offtopic</value>
      </item>
      <item>
        <key id="ref-20">globalTag</key>
        <value id="ref-21" xsi:type="SOAP-ENC:string">any</value>
      </item>
      <item>
        <key id="ref-22">userUpdateInterval</key>
        <value xsi:type="xsd:int">60</value>
      </item>
      <item>
        <key id="ref-23">inactiveMinutes</key>
        <value xsi:type="xsd:int">5</value>
      </item>
      <item>
        <key id="ref-24">spamBlockSeconds</key>
        <value xsi:type="xsd:int">20</value>
      </item>
      <item>
        <key id="ref-25">buildHourModifier</key>
        <value xsi:type="xsd:int">4</value>
      </item>
    </SOAP-ENC:Array>
  </SOAP-ENV:Body>
</SOAP-ENV:Envelope>